
<div class="partners-section">
  <h2 class="partners-heading">Our Partners</h2>
<div class="slider-container">
    <div class="logo-container">
      <!-- First set of logos -->
      <div class="logo-track">
        <div class="logo-wrapper">
          <img src="./zp.png" alt="Zapier" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./spotify.png" alt="Spotify" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./zoom.jpg" alt="Zoom" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./amazon.png" alt="Amazon" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./adobe.png" alt="Adobe" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./notion.png" alt="Notion" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./netflix.png" alt="Netflix" class="logo">
        </div>
      </div>
      <!-- Duplicate set for seamless loop -->
      <div class="logo-track">
        <div class="logo-wrapper">
          <img src="./zp.png" alt="Zapier" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./spotify.png" alt="Spotify" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./zoom.jpg" alt="Zoom" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./amazon.png" alt="Amazon" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./adobe.png" alt="Adobe" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./notion.png" alt="Notion" class="logo">
        </div>
        <div class="logo-wrapper">
          <img src="./netflix.png" alt="Netflix" class="logo">
        </div>
      </div>
    </div>
  </div>
</div>
